@use '../source/config/reset.scss';
@use '../source/config/cores.scss'; 
@use '../source/config/font.scss';




body {
    background-color: cores.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.branding h2 {
    font-family: sass;
    font-size: 20px;
    color: cores.$corDoHeader;
}

header {
    padding: 10px 0;
    background-color: cores.$corHeader;
    position: sticky;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;
}

.menu li a {
    color: cores.$corDoHeader;
    text-decoration: none;
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
}

.product-item img {
    width: auto;
    border-radius: 16px;
}

h4 {
    margin-left: 115px;

}

.button {
    font-family: Asap Condensed, sans-serif;
   font-size: 20px;
    display: block;
    background-color: cores.$corBotao;
    color: cores.$corDoHeader;
    text-align: center;
    padding: 10px 145px;
    border-radius: 10px;
    margin-top: 8px;
    text-decoration: none;


    &:hover {
        background-color: cores.$corbotaoHover;
    }
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 1023px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}